<% # Rails5 から form_with. 以前は form_for / form_tag だった.
   # url: オプションを指定 (以前の form_tag), or
   # model: オプションを指定 (以前の form_for).
  %>

<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>  <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :body %>   <%= form.text_area :body %>
  </div>

  <div class="actions">
<% # new (create) or edit (update) 判定
  %>
    <%= link_to 'キャンセル', article.persisted? ? @article : articles_path %>
    <%= form.submit %>
  </div>
<% end %>
