
<% # @param model モデルオブジェクト
  %>   

<% if model.errors.size > 0 %>
  <div class="alert alert-danger" role="alert">
    <ul class="mb-0">
<% # `full_messages()` は属性をまたいですべてのエラーメッセージを配列にする
   # 特定の属性については `full_messages_for(attribute)` (長文) or `messages_for(attribute)` 
  %>         
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
