<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>RswagSample</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <!-- Bootstrap が responsive で簡単. -->
  <link href="/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<% # ここに <script src="/bootstrap5/js/bootstrap.bundle.min.js"> を書いても
   # 正常に動作しない。次のコマンドで pin すること.
   #   $ bin/importmap pin bootstrap
  %>
  <header>
    <% if current_user %>
      <%= current_user.email %>
    <%= link_to "ログアウト", "/account/sign_out", data:{"turbo-method": :post} %>
    <% else %>
    <%= link_to "ユーザ登録/ログイン", "/account/sign_in" %>
    <% end %>
  </header>

<% # flash[:notice], flash[:alert] は短縮表記もある. See ActionDispatch::Flash
   {notice: "alert alert-success",
    alert: "alert alert-danger"}.each do |key, klass|
     if (message = flash[key]) %>
<%= tag.div(class: klass + " alert-dismissible fade show", role:"alert") do %>
  <%= message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<% end %>
<%   end
   end %>
   
  <%= yield %>
</body>
</html>
