<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>HelloApp Chat</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <!-- 結局, Bootstrap が responsive で簡単. -->
  <link href="/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<% # ここに <script src="/bootstrap5/js/bootstrap.bundle.min.js"> を書いても
   # 正常に動作しない。次のコマンドで pin すること.
   #   $ bin/importmap pin bootstrap
  %>

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">HelloApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
<% if current_user %>        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/rooms/">Rooms</a>
        </li>
        <% end %>
      </ul>

<% if current_user %>      
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name %>
        </a>
        <ul class="dropdown-menu dropdown-menu-md-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/account">アカウント管理</a>
          <li><hr class="dropdown-divider" /></li>
          <li><%= link_to 'Log out', '/account/sign_out',
                          class:"dropdown-item", data:{turbo_method: :delete} %>
        </ul>
      </div>
<% else %>
      <div class="col-md-4 text-end">
        <a class="btn btn-outline-primary me-2" href="/account/sign_in">Log in</a>
        <a class="btn btn-primary" href="/account/sign_up">Sign up</a>
      </div>
<% end %>
    </div>
  </div>
</nav>

<% # flash[:notice], flash[:alert] は短縮表記もある. See `ActionDispatch::Flash`
   {notice: "alert alert-success",
    alert:  "alert alert-danger"}.each do |key, klass|
     if (message = flash[key]) %>
  <%= tag.div(class: klass + " alert-dismissible fade show", role:"alert") do %>
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<% end %>
<%   end
   end %>


  <%= yield %>

</body>
</html>
