
  <%= error_messages_for form.object %>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :qpc, "Quantity per Carton:", class:"label" %>
  </div>
  <div class="field-body">
    <div class="field is-narrow ">
      <p class="control">
        <%= form.number_field :qpc, class:"input", required:true %>
      </p>
      <p class="help">1 or more</p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :case_no, "Case No.:", class:"label" %>
  </div>
  <div class="field-body">
    <div class="field is-narrow ">
      <p class="control">
        <%= form.number_field :case_no, class:"input", required:true %>
      </p>
      <p class="help">複数梱包になる場合、QPCを1にしてケースNoを (1..梱包数) まで入力してください。</p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Dimensions (cm3):</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <p class="control">
	W <%= form.number_field :size_width, step:"any", class:"input", required:true %>
      </p>
    </div>
    <div class="field is-narrow">
      <p class="control">
	D <%= form.number_field :size_depth, step:"any", class:"input", required:true %>
      </p>
    </div>
    <div class="field is-narrow">
      <p class="control">
	H <%= form.number_field :size_height, step:"any", class:"input", required:true %>
      </p>
    </div>
  </div>
</div>

      
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :gross_weight, "Gross Weight (kg):", class:"label" %>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <p class="control">
	<%= form.number_field :gross_weight, step:"any", class:"input", required:true %>
      </p>
    </div>
  </div>
</div>
