
<% content_for(:title) { "Editing Package" } %>

<%= form_with(model: @package, url:{action:"update", sku_id:@sku, id:@package}) do |form| %>
  <%= render partial:"form", locals:{package:@package, form:form} %>

<div>
  <%= link_to "Cancel", {controller:"products", action:"show", id:@sku} %>
  <%= form.submit %>
</div>
<% end %>
