
<% content_for(:title) { "New Package" } %>


<%= form_with(model: @package, url:{action:"create", sku_id:@sku}) do |form| %>
  <%= render partial:"form", locals:{package: @package, form:form} %>

  <div>
    <%= link_to "Cancel", {controller:"products", action:"show", id:@sku} %>
    <%= form.submit %>
  </div>
<% end %>
