
<% # data-controller 属性値で, Stimulus のクラスと紐付け
  %> 
<%= form_with(model: product, html:{"data-controller":"products"}) do |form| %>
  <%= error_messages_for product %>

<div class="row mb-3">
  <label for="product_part_no" class="col-sm-3 col-form-label">Part No:</label>
  <div class="col-sm-9">
    <%= form.text_field :part_no, class:"form-control" %>
  </div>
</div>

<div class="row mb-3">
  <label for="product_name" class="col-sm-3 col-form-label">Name:</label>
  <div class="col-sm-9">
    <%= form.text_field :name, class:"form-control" %>
  </div>
</div>

<div class="row mb-3">
<% # date_select() は昔ながらのy, m, dそれぞれを選択するコントロール. 互換性の
   # ため.
  %>
  <label for="product_release_date">発売日:</label>
  <%= form.date_field :release_date, include_blank:true %>
</div>

<div class="row mb-3">
  <label for="product_end_of_sale_date">販売終了日:</label>
  <%= form.date_field :end_of_sale_date, include_blank:true %>
</div>

<div class="row mb-3">
  <label for="product_description" class="col-sm-3 col-form-label">Description:</label>
  <div class="col-sm-9">
    <%= form.text_area :description, class:"form-control" %>
  </div>
</div>

<div class="row mb-3">
  <label for="product_vat_category_id" class="col-sm-3 col-form-label">Vat Category:</label>
  <div class="col-sm-9">
<% # 第一引数は _id が必要なことに注意.
  %>     
    <%= form.select :vat_category_id,
            options_from_collection_for_select(@vat_categories, :id, :name, @product.vat_category_id),
            {}, data:{action:"change->products#handleVatCatChanged"} %>
  </div>
</div>

<div class="row mb-3">
  <label for="product_price_with_vat" class="col-sm-3 col-form-label">Price with Vat:</label>
  <div class="col-sm-9">
    <%= form.text_field :price_with_vat,
            class:"form-control", "data-action":"change->products#handlePriceWithVatChanged" %>
    (税抜き <input type="text" data-products-target="price" readonly />)
  </div>
</div>

<!--
<div class="row mb-3">
  <label for="product_base_qty">Base Qty:</label>
<% # form.text_field :base_qty 
  %>
</div>
-->

<div class="row mb-3">
  <label for="product_uom" class="col-sm-3 col-form-label">Unit of Measure:</label>
  <div class="col-sm-9">
    <%= form.collection_select(:uom, (UOM.to_a.map do |x| x[1] end), :code, :name_ja) %>
  </div>
</div>

<% # ここに form.file_field を書くと、画像の差し替えになる。
   # それでもいい場合もあるだろうが、通常は、追加と削除のほうが期待される
  %>   

  <div>
    <%= form.submit %>
  </div>
<% end %>
