
<div id="<%= dom_id product %>">
Part No:     <%= product.part_no %>
Name:        <%= product.name %>
Description: <%= product.description %>
Vat:         <%= product.vat_category.name %> <%= product.vat_category.vat_rate %>%
Price with Vat:   <%= product.price_with_vat %>
<!--
Base Qty:    <% # product.base_qty 
  %>
-->
Unit of Measure: <%= product.uom %>
Created at:  <%= product.created_at %>
Updated at:  <%= product.updated_at %>
</div>
