
<%= link_to "Back to products", products_path %>

<h1><%= @product.name %></h1>

<table class="table table-sm">
  <tr><th>Part No:     <td><%= @product.part_no %>
  <tr><th>Name:        <td><%= @product.name %>
  <tr><th>Description: <td><%= @product.description %>
  <tr><th>発売日:      <td><%= @product.release_date %>
  <tr><th>販売終了日:  <td><%= @product.end_of_sale_date %>            
  <tr><th>Vat:         <td><%= @product.vat_category.name %> <%= @product.vat_category.vat_rate %>%
  <tr><th>Price with Vat:   <td><%= @product.price_with_vat %>
<!--
Base Qty:    <% # product.base_qty 
  %>
-->
  <tr><th>Unit of Measure: <td><%= @product.uom %>

  <tr><th>Created at:  <td><%= @product.created_at %>
  <tr><th>Updated at:  <td><%= @product.updated_at %>
</table>

<div>
  <%= link_to "Edit this product...", edit_product_path(@product) %> |

<% # Trap. link_to と button_to とで, http verb を指定するオプションの書き方が
   # 違う.
  %>   
  <%= button_to "Destroy this product", @product,
                method: :delete, form:{data:{'turbo-confirm':'Are you sure?'}} %>
</div>



<h2>Images</h2>

<%= form_with url:"/products/#{@product.id}/remove_images" do |form| %>
<% @product.images.each do |image| %>
<div class="col" id="<%= dom_id(image) %>" >
  <%= form.check_box :image_ids, {multiple:true}, image.id, false %>
  <%= image_tag image %>
</div>
<% end %>
  <div>  
    <%= form.submit "選択したものを削除" %>
  </div>  
<% end %>

<div id="attach_error"></div>

<%= form_with url:"/products/#{@product.id}/attach_images" do |form| %>
  <%= form.label :images %>
  <%= form.file_field :images, multiple:true, direct_upload:true %>
  <div>
    <%= form.submit "アップロード" %>
  </div>
<% end %>


