
<h1>Editing Product Group</h1>

<%= form_with(model: @product, url:{action:"update", id:@product}) do |form| %>
  <%= render partial:"form", locals:{form:form, product: @product} %>

  <div>
    <%= link_to "Cancel", {action:"show", id:@product} %> 
    <%= form.submit %>
  </div>
<% end %>
