
<% content_for(:title) {"Product Groups"} %>

<table id="products" class="table">
  <tr><th>Name
  <% @products.each do |product| %>
    <%= render partial:"product", locals:{product:product} %>
  <% end %>
</table>

<p><%= link_to "New product group...", {action:"new"} %>
