
<% content_for(:title) { "New Product Group" } %>


<%= form_with(model: @product, url:{action:"create"}) do |form| %>
  <%= render partial:"form", locals:{form:form, product: @product} %>

  <div>
    <%= link_to "Cancel", {action:"index"} %>
    <%= form.submit %>
  </div>
<% end %>
