
<% content_for(:title) { "Product Group: " + @product.name }
   @crumbs = [
     [{action:"index"}, "Product Groups"]
   ]
   %>

  
<table class="table">
  <tr><th>Name: <td><%= @product.name %>
</table>

<div>
  <%= link_to "Edit this product...", {action:"edit", id:@product} %> |
  <%= button_to "Destroy this product", {action:"destroy", id:@product},
                method: :delete, class:"button", form:{class:"is-inline-block", data:{turbo_confirm:"Are you sure?"}}  %>
</div>

<section class="section">
  <h2 class="title is-4">Variants</h2>

<% @skus.each do |sku| %>
  <p><%= sku.name %> <%= link_to "Show", {controller:"products", action:"show", id:sku} %>
<% end %>
</section>


<section class="section">
  <h2 class="title is-4">Common Product Information</h2>

<% attr_keys, pack_keys = ProdVariation.mix(@skus) %>
  
<table class="table">
<% attr_keys.each do |attr_key, values| %>  
  <tr><th><%= attr_key %>
    <td><%= values.uniq.length == 1 ? values[0] : "<<Depends on SKU>>" %>
<% end %>
</table>

<table class="table">
<% pack_keys.each do |attr_key, values| %>  
  <tr><th><%= attr_key %>
    <td><%= values.uniq.length == 1 ? values[0] : "<<Depends on SKU>>" %>
<% end %>
</table>

</section>
