
<div id="<%= dom_id @ps %>" >
  <%= form_with(model:@ps, url:{action:"create", parent_id:@parent.id}) do |form| %>
  <div class="columns">
    <div class="column">
      <%= form.select :struc_type, options_for_select([["Manufacture", 1], ["Kit", 2]]) %>
    </div>
    <div class="column">
<% pairs = ProductCode.all.map do |prod_code| [prod_code.latest_product(true).name, prod_code.id] end %>      
      <%= form.select :child_id, options_for_select(pairs) %>
    </div>
    <div class="column">
      <%= form.number_field :qty  %>
    </div>
    <div class="column">
      [CxL] <%= form.submit %>
    </div>
  </div>
  <% end %>
</div>
