
<div id="<%= dom_id(prod_structure) %>" class="columns">
  <div class="column is-3">
    <%= case prod_structure.struc_type
	when ProdStructure::MANUFACTURE; "manufacture"
	when ProdStructure::KIT; "kit"
	end %>
  </div>
  <div class="column is-5">
<% child_code = prod_structure.child
   child = child_code.latest_product(true) %>
    <%= link_to child.name, {controller:"products", action:"show", id:child} %>
  </div>
  <div class="column is-1">
    <%= prod_structure.qty %>
  </div>
  <div class="column is-one-fifth">
    <%= Product::STATUS_STR[child.appro_status] %>
  </div>
  <div class="column is-one-fifth">
    [Edit...]
  </div>
</div>

