<% # @param model_obj エラー表示の対象オブジェクト
  %>

<% if model_obj.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(model_obj.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
<% model_obj.errors.each do |error| %>
      <li><%= error.full_message %></li>
<% end %>
    </ul>
  </div>
<% end %>
