
<div id="<%= dom_id(attr_enum_value) %>" class="columns">
  <div class="column">
    <%= attr_enum_value.value %>
  </div>
  <div class="column">
    <%= attr_enum_value.aux_value1 %>
  </div>
  <div class="column">
    <span class="button">Edit... (not yet)</span>
  </div>
</div>
