
<div id="<%= dom_id @enum_value %>" >
  <%= form_with(model:@enum_value, url:{action:"create", prod_attr_id:@prod_attr.id}) do |form| %>
  <div class="columns">
    <div class="column">
      <%= form.text_field :value %>
    </div>
    <div class="column">
      <%= form.text_field :aux_value1 %>
    </div>
    <div class="column">
      [CxL] <%= form.submit %>
    </div>
  </div>
  <% end %>
</div>
