
<% content_for(:title) { "Home" } %>

<% if rodauth.logged_in? %>
<h2>ログイン中</h2>

<p><%= link_to "Manage MFA", rodauth.two_factor_manage_path, class: "dropdown-item" %> 2FAがなければ設定画面へ, 設定ずみなら無効化画面へ

<p><%= link_to "Change password", rodauth.change_password_path, class: "dropdown-item" %>

<p><%= link_to "Change email", rodauth.change_login_path, class: "dropdown-item" %>

<p><%= link_to "Close account", rodauth.close_account_path, class: "dropdown-item text-danger" %>


<p>実際にログアウトするのではなく、確認ページに跳ぶ
<%= link_to "Logout...", rodauth.logout_path %>

<p>一発でログアウトする
  <%= button_to "Logout", rodauth.logout_path, data:{turbo_confirm:"Sure?"} %>

<% else %>
<h2>ログインしていない</h2>

<p><%= link_to "Login...", rodauth.login_path %>

<p><%= link_to "Sign Up...", rodauth.create_account_path %>
  
<% end %>

