
<% # TURBO Frames:
   # http レスポンスとして <turbo-frame> を返す. turbo_frame_tag() も同じ.
   # レスポンスに複数の turbo_frame_tag() を書いてもよいが、一つだけしか使われ
   # ない。
   #
   # TURBO Streams:
   # <turbo-stream><template>...</template></turbo-stream> を返す.
   # 複数を書いてもよい.
  %>
<turbo-stream action="replace" target="item_cur_cart">
<!-- 囲んでいる target が指す要素ごと置き換わることに注意. -->
  <template>
<span class="badge bg-secondary" id="item_cur_cart">
  1111111111個!
</span>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="item_added_to_cart">
  <template>
<div class="alert alert-info" role="alert">
  カートに追加しました!
</div>
  </template>
</turbo-stream>

