
<h1><%= @product.name %></h1>

￥<%= @product.price_with_vat %> (税込)

●● TODO: 画像を表示する。

<% # `add_to_cart` アクションのレスポンスで置換する
  %>
<div id="item_added_to_cart">
<%= form_with url:add_to_cart_item_path(@product) do |form| %>
  <%= form.select :qty,
                  options_for_select((1..5).map do |c| ["#{c}個", c] end) %>

  <%= submit_tag "カートに入れる", name:'add_item' %>
  <%= submit_tag "今すぐ購入", name:'buy_now' %>
<% end %>
</div>

