<%= form_with(model: sku_variant_value) do |form| %>
  <% if sku_variant_value.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sku_variant_value.errors.count, "error") %> prohibited this sku_variant_value from being saved:</h2>

      <ul>
        <% sku_variant_value.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
