<h1>Editing sku variant value</h1>

<%= render "form", sku_variant_value: @sku_variant_value %>

<br>

<div>
  <%= link_to "Show this sku variant value", @sku_variant_value %> |
  <%= link_to "Back to sku variant values", sku_variant_values_path %>
</div>
