<p style="color: green"><%= notice %></p>

<h1>Sku variant values</h1>

<div id="sku_variant_values">
  <% @sku_variant_values.each do |sku_variant_value| %>
    <%= render sku_variant_value %>
    <p>
      <%= link_to "Show this sku variant value", sku_variant_value %>
    </p>
  <% end %>
</div>

<%= link_to "New sku variant value", new_sku_variant_value_path %>
