<p style="color: green"><%= notice %></p>

<%= render @sku_variant_value %>

<div>
  <%= link_to "Edit this sku variant value", edit_sku_variant_value_path(@sku_variant_value) %> |
  <%= link_to "Back to sku variant values", sku_variant_values_path %>

  <%= button_to "Destroy this sku variant value", @sku_variant_value, method: :delete %>
</div>
