<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) %> - Admin Sample</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link rel="stylesheet" href="/error_messages.css" />
  <link rel="stylesheet" href="/bulma-1/bulma.min.css" />
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <script src="/bulmajs/bulma.js" ></script>
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">[[Logo]] AdminSample</a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/product_groups/">Product Groups</a>
      <a class="navbar-item" href="/products/">Product Structure</a>

      <a class="navbar-item" href="/prod_attrs/">Attributes</a> 
      <a class="navbar-item" href="/sales_pages/">Sales Pages</a>
      <a class="navbar-item" href="/sales_skus/">Sales SKUs</a>
    </div>  <!-- /.navbar-start -->
      
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          [[Username]]
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item is-selected">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>

      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="container">

<% if @crumbs %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
<% @crumbs.each do |crumb| %>    
    <li><%= link_to crumb[1], crumb[0]  %></li>
<% end %>
    <li class="is-active"></li>
  </ul>
</nav>
<% end %>

  <h1 class="title"><%= content_for(:title) %></h1>

<% if (notice = flash[:notice]) != nil %>
<div class="notification is-success is-light">
  <button class="delete"></button>  <%= notice %>
</div>
<% end %>
<% if (notice = flash[:alert]) != nil %>
<div class="notification is-danger is-light">
  <button class="delete"></button>  <%= notice %>
</div>
<% end %>


  <%= yield %>
</div> <!-- /.container -->


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
      The source code is licensed
      <a href="https://opensource.org/license/mit">MIT</a>. The
      website content is licensed
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//"
        >CC BY NC SA 4.0</a
      >.
    </p>
  </div>
</footer>

</body>
</html>
