
<%= form_with(model: tag) do |form| %>
  <%= error_messages_for tag %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
