
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" >ユーザ登録</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="sign_in">ログイン</a>
  </li>
</ul>

<%= form_with(model:@user, url:"/account", method: :post,
              class: (@user.errors.size > 0 ? 'was-validated' : nil)
             ) do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>
  
    <div class="row mb-3">
      <%= form.label :email, "Email:", class:'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.text_field :email, required:true,
                        class:"form-control " + (@user.errors.include?(:email) ? 'is-invalid' : "")  %>
        <div class="invalid-feedback d-block">
          <% @user.errors.full_messages_for(:email).each do |msg| %>
            <%= msg %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <%= form.label :password, "Password:", class:'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.password_field :password, minlength:6,
                        value: @user.password,
                        class:"form-control " + (@user.errors.include?(:password) ? 'is-invalid' : "") %>
        <div class="invalid-feedback d-block">
          <% @user.errors.full_messages_for(:password).each do |msg| %>
            <%= msg %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <%= form.label :password_confirmation, "Password (再度):", class:'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= form.password_field :password_confirmation,
                        class:"form-control " + (@user.errors.include?(:password_confirmation) ? 'is-invalid' : "") %>
        <ul class="invalid-feedback d-block">
          <% @user.errors.full_messages_for(:password_confirmation).each do |msg| %>
            <li><%= msg %>
          <% end %>
        </ul>
      </div>
    </div>
    <%= form.submit "登録" %> 
<% end %>    
