
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="sign_up" >ユーザ登録</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">ログイン</a>
  </li>
</ul>


<% if current_user %>
別のユーザでログインする
<% end %>

<%= form_with model:@user, url:"/account/sign_in", method: :post do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>

  <p><%= form.label :email, "Email:" %>
    <%= form.text_field :email %>
  <p><%= form.label :password, "Password:" %>
    <%= form.password_field :password %>
  
  <%= form.submit "ログイン" %> 
<% end %>    

