<%= form_with(model: sales_sku) do |form| %>
  <% if sales_sku.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sales_sku.errors.count, "error") %> prohibited this sales_sku from being saved:</h2>

      <ul>
        <% sales_sku.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
