<% content_for :title, "Editing sales sku" %>

<h1>Editing sales sku</h1>

<%= render "form", sales_sku: @sales_sku %>

<br>

<div>
  <%= link_to "Show this sales sku", @sales_sku %> |
  <%= link_to "Back to sales skus", sales_skus_path %>
</div>
