
<% content_for :title, "Sales SKUs" %>


<div id="sales_skus">
  <% @sales_skus.each do |sales_sku| %>
    <%= render sales_sku %>
    <p>
      <%= link_to "Show this sales sku", sales_sku %>
    </p>
  <% end %>
</div>

<%= link_to "New sales sku...", new_sales_sku_path %>
