
<% content_for :title, "Sales SKU: " + @sales_sku.name %>
<% @crumbs = [
   [{action:"index"}, "Sales Pages"],
   [{controller:"sales_pages", action:"show", id:@sales_sku.sales_page}, @sales_sku.sales_page.title]
   ] %>

<table class="table">
  <tr><th>Name: <td><%= @sales_sku.name %>
  <tr><th>Discount Rate: <td><%= @sales_sku.discount_rate %> %	
</table>


<div>
  <%= link_to "Edit this sales sku...", edit_sales_sku_path(@sales_sku) %> 
  <%= button_to "Destroy this sales sku", @sales_sku, method: :delete,
      class: "button", form:{data: {turbo_confirm:"Are you sure?"}} %>
</div>

<table class="table">
  <tr><th>Product   <th>Qty
<% @sales_sku.saleable_items.each do |saleable_item|
     product = saleable_item.product_code.latest_product(true) %>
  <tr><td><%= link_to product.name, {controller:"products", action:"show", id:product} %>
    <td><%= saleable_item.qty %>
<% end %>
</table>

