
<table class="table">
  <tr><th>id                 <td><%= @user.id %>
  <tr><th>email              <td><%= @user.email %>
  <tr><th>crypted_password   <td><%= @user.crypted_password %>
  <tr><th>salt               <td><%= @user.salt %>
  <tr><th>created_at         <td><%= @user.created_at %>
  <tr><th>updated_at         <td><%= @user.updated_at %>
  <tr><th>remember_me_token  <td><%= @user.remember_me_token %>
  <tr><th>remember_me_token_expires_at   <td><%= @user.remember_me_token_expires_at %>
</table>

