
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="sign_up">ユーザ登録</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" >ログイン</a>
  </li>
</ul>

<% if current_user %>
別のユーザでログインする
<% end %>

<%= form_with model:@user, url:sign_in_account_url, method: :post do |form| %>

<div class="row mb-3">
  <label for="user_email" class="col-sm-2 col-form-label">Email address</label>
  <div class="col-sm-10">
    <%= form.text_field :email, type:"email", class:"form-control" %>
  </div>
</div>

<div class="row mb-3">
  <label for="user_password" class="col-sm-2 col-form-label">Password</label>
  <div class="col-sm-10">
    <%= form.password_field :password, class:"form-control" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm-10 offset-sm-2">
    <div class="form-check">
      <%= check_box_tag :remember, "1", @remember, class:"form-check-input" %>
      <label class="form-check-label" for="remember">ログインを記憶する。共有PCではチェックしないでください。
      </label>
    </div>
  </div>
</div>

  <button type="submit" class="btn btn-primary">Sign in</button>
<% end %>
