
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" >ユーザ登録</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="sign_in">ログイン</a>
  </li>
</ul>

<%= form_with model:@user, url:account_url, method: :post do |form| %>
  <%= error_messages_for @user %>

<div class="row mb-3">
  <label for="user_email" class="col-sm-2 col-form-label">Email address</label>
  <div class="col-sm-10">
    <%= form.text_field :email, class: "form-control", type: "email",
                                       'aria-describedby': "emailHelp" %>
  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
</div>

<div class="row mb-3">
  <label for="user_password" class="col-sm-2 col-form-label">Password</label>
  <div class="col-sm-10">
<% # password_field メソッドでは, 自動で value: が付かない. これを付けるかどう
   # かは慎重に判断が必要。
  %>
    <%= form.password_field :password, class: "form-control", value: @user.password %> 6文字以上
  </div>    
</div>

<div class="row mb-3">
  <label for="user_password_confirmation" class="col-sm-2 col-form-label">Password confirmation</label>
  <div class="col-sm-10">
    <%= form.password_field :password_confirmation, class: "form-control", value: @user.password_confirmation %>
  </div>    
</div>

<button type="submit" class="btn btn-primary">Sign up</button>
<% end %>

