
<a href="/">Home</a>
<h1>Clients</h1>

<div id="clients">
  <table class="table">
    <tr>
      <th>Name
    </tr>
<% @clients.each do |client| %>
    <%= render client %>
<% end %>
  </table>
</div>

<%= link_to "New client...", new_client_path %>
