
<%= link_to "Clients", "/clients/" %>
<h1><%= @client.name %></h1>
  
<table class="table">
  <tr><th>Name:      <td><%= @client.name %>
  <tr><th>client_id: <td><%= @client.identifier %>
  <tr><th>secret:    <td><%= @client.secret %>
</table>

<div>
  <%= link_to "Edit this client...", edit_client_path(@client) %> |
  <%= button_to "Destroy this client", @client,
                method: :delete, data:{turbo_confirm:"OK?"} %>
</div>
