
<%= link_to "Back to sales orders", sales_orders_path %>

<h1>受注</h1>

<%= render @sales_order %>

<div>
  <%= link_to "Edit this sales order", edit_sales_order_path(@sales_order) %> |

  <%= button_to "Destroy this sales order", @sales_order, method: :delete %>
</div>
