
<%= link_to "Back to customers", customers_path %>

<h1>顧客</h1>

<%= render @customer %>

<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |

  <%= button_to "Destroy this customer", @customer, method: :delete %>
</div>
