<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Book2SampleShop</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="/bootstrap5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid" aria-label="Main navigation">
    <a class="navbar-brand" href="/">Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
<% if current_user && current_user.role_admin %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
            <li><a class="dropdown-item" href="/products/">Products</a>
          </ul>
<% end %>          
<% if current_user
     cart_count = CartLine.where('user_id = ? AND buy_later is FALSE', current_user.id).count %>
        <li class="nav-item">
          <a href="/cart" class="nav-link active">カート
<% if controller_name != 'cart' %>            
            <span class="badge bg-secondary" id="item_cur_cart"><%= cart_count %></span>
<% end %>
          </a>
<% end %>
      </ul>

<% if current_user %>
      <span class="navbar-text"><%= "#{current_user.family_name} #{current_user.given_name}" %></span>      
<% end %>      
      <ul class="navbar-nav">
<% if current_user && !current_user.role_guest %>
        <li class="nav-item">
          <%= link_to "Profile", account_url, class: 'nav-link' %>
        <li class="nav-item">
          <%= link_to "Logout", sign_out_account_url,
                      data:{"turbo-method": :delete},
                                class:'btn btn-sm btn-secondary nav-link' %>
        </li>
<% else %>
<% # [Sign Up] [Sign In] というボタンは、初級のユーザを混乱させる。
   # [Register] [Sign In] がまだよい.
   # 外部 IdP による Automated User Provisioning (自動プロビジョニング) を考慮
   # すると, ユーザ登録とログインは同じ画面に纏めるのが good.
  %>
        <li class="nav-item">
          <%= link_to "Register / Sign-In", sign_in_account_url, class: 'btn btn-sm btn-success nav-link' %>
        </li>
<% end %>
      </ul>
    </div>
  </div>
</nav>

<% # flash[:notice], flash[:alert] は短縮表記もある. See ActionDispatch::Flash
   {notice: "alert alert-success",
    alert: "alert alert-danger"}.each do |key, klass|
     if (message = flash[key]) %>
<%= tag.div(class: klass + " alert-dismissible fade show", role:"alert") do %>
  <%= message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<% end %>
<%   end
   end %>

<div class="container">
  <%= yield %>
</div>


<% # ここに <script src="/bootstrap5/js/bootstrap.bundle.min.js"> を書いてはならない。
   # 画面遷移後に正常に動かない.
  %>
</body>
</html>
