
<% # in-place edit
   # @param   todo モデルオブジェクト
  %>   

<%= turbo_frame_tag todo do %>
  <%= form_with(model:todo) do |form| %>
    <%= render "layouts/error_messages", model:todo %>
<% # `_todo.html.erb` と合うように列の幅など調整
  %>     
  <div class="row">
    <div class="col-4">
      <%= form.text_field :title %>
    </div>
    <div class="col-3">
    </div>
    <div class="col-1">
      <%= form.check_box :done %>
    </div>
    <div class="col-4">
      <%= form.submit class:"btn btn-primary" %>
      <%= link_to "キャンセル", {action:'edit_cxl', id:todo}, data:{turbo_stream:true}, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
<%   end
   end %>
