
<% # 新規用のフォーム
   # @param todo モデル
  %>

<% # submit でクリアするために, これも <turbo-frame> で囲む
  %>
<%= turbo_frame_tag 'new_todo' do %>
  <%= form_with(model:todo) do |form| %>
  <%= render "layouts/error_messages", model:todo %>
  <%= form.text_field :title %>
  <%= form.submit class:"btn btn-primary" %>
<%   end
   end %>
