
<% # Task を1行表示する
   # @param todo  モデルオブジェクト
  %>

<% # 内側の `<turbo-frame>`. 1行だけ編集できるようにする.
  %>
<%= turbo_frame_tag todo do %>
  <div class="row">
    <div class="col-4"><%= todo.title %></div>
    <div class="col-3"><%= todo.created_at %></div>
    <div class="col-2">
      <% if todo.done %>
        ✓
      <% else %>
        <%= button_to "Done!", action:"done", id:todo %>
      <% end %>
    </div>
    <div class="col-3">
      <%= link_to "編集...", edit_todo_path(todo), class: "btn btn-sm btn-outline-primary me-2" %>
<% # confirm を使うため, turbo:false にするわけにいかない
   # <turbo-frame> のなかだと、ターゲットフレーム省略でフレーム内のみ更新。
   # 特別な "_top" を指定すると、ページ全体を更新。
  %>
      <%= button_to "削除", todo, method: :delete,
                    data:{turbo_frame:"_top", turbo_confirm: 'Are you sure?' },
                    class: "btn btn-sm btn-outline-danger", form_class:"d-inline" %>
    </div>
  </div>
<% end %>
  
  
