
<a href="/">Home</a>
<h1>Todos</h1>

<%= render partial: "new", locals: {todo:@todo} %>

  
<% # `table` に行を追加するのはできない。`div` でそれっぽく作る
  %>   
<div class="table">
  <div>
    <th>TODO  <th>Created at <th>Done?
  </div>
<% # ここに `turbo_stream()` で追加する。
  %>     
<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %> 
  <% end %>
</div>

