<% icon_sizes = Rails.configuration.serviceworker.icon_sizes %>
{
  "name": "My progressive Rails7 chat sample app",
  "short_name": "HogeChat",
<% # Google Analytics で区別できるようにする
  %>
  "id": "/",
  "start_url": "/?utm_source=homescreen",
  "icons": [
  <% icon_sizes.map { |s| "#{s}x#{s}" }.each.with_index do |dim, i| %>
    {
      "src": "<%= image_path "android-chrome-#{dim}.png" %>",
      "sizes": "<%= dim %>",
      "type": "image/png",
      "purpose": "any maskable"
    }<%= i == (icon_sizes.length - 1) ? '' : ',' %>
  <% end %>
  ],
  "theme_color": "#000000",
  "background_color": "#FFFFFF",
<% # fallback: fullscreen → standalone → minimal-ui → browser
   # Safari on iOS は次をサポートしない; fullscreen or minimal-ui.
  %>
  "display": "standalone",
  "orientation": "portrait"
}
