
<% content_for :title, "Posts" %>


<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<p><%= link_to "New post...", new_post_path %>

<div id="stream_pane"></div>

<%= button_to "Turbo Streams test", action:"create" %>

<hr />
<%= react_component("heavy_component") %>
