
<% content_for :title, "New post" %>

<%= render "form", post: @post %>
<div>
  <%= link_to "Cancel", posts_path %>
</div>

<div data-controller="posts">
  <button data-action="click->posts#changeText">テキストを変更</button>
  <p data-posts-target="output">ここが変わります</p>
</div>


<p>React component:
<%= react_component("counter", {name:"Tanaka Taro", age:42}) %>

二つ並べる:
<%= react_component("counter", {name:"Sato Hanako", age:25}) %>

error:
<%= react_component("missing-counter", {name:"Sato Hanako", age:25}) %>

