
<% # @param tree_item  モデルオブジェクト
  %>

<%= form_with(model: tree_item) do |form| %>
  <% if tree_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tree_item.errors.count, "error") %> prohibited this tree_item from being saved:</h2>

      <ul>
        <% tree_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <label for="tree_item_name" class="col-sm-2 col-form-label">Parent: </label>
    <div class="col-sm-10">
<% if tree_item.parent %>      
      <%= tree_item.parent.name %>
      <%= form.hidden_field :parent_id, value: tree_item.parent_id %>
<% end %>
    </div>
  </div>
  <div class="row mb-3">
    <label for="tree_item_name" class="col-sm-2 col-form-label">Name: </label>
    <div class="col-sm-10">
      <%= form.text_field :name, class:'form-control' %>
    </div>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
