
<% # 編集ペインに表示
  %>

<%= turbo_frame_tag "edit" do %>

<h1><%= @tree_item.name %></h1>

<dl>
  <dt>Parent: <dd><%= @tree_item.parent ? @tree_item.parent.name : '' %>
  <dt>Name:  <dd><%= @tree_item.name %>
</dl>


<div>
  <%= link_to "Edit...", edit_tree_item_path(@tree_item) %> |
  <%= button_to "Destroy", @tree_item,
                method: :delete, data:{turbo_confirm:"OK?"} %>
</div>

<%= link_to "新しい子 node...", action:'new', parent:@tree_item.id %>

<% end %>

