
<% # ツリーに表示する `<li>`
   # @param tree_item モデルオブジェクト
  %>

<li id="<%= dom_id tree_item %>">
  <%= link_to tree_item.name, tree_item, data:{turbo_frame:'edit'} %>
<% if tree_item.children.size > 0 %>
  <ul>
<%   tree_item.children.each do |node| %>
    <%= render partial: 'tree_items/tree_item', locals:{tree_item:node} %>
<%   end %>
  </ul>
<% end %>  
</li>

