
<% # 親の末尾への追加では `</ul>` が邪魔。兄弟の後ろに付ける.
   if !@tree_item.parent %>
<%= turbo_stream.append "tree_root", partial:'tree_item', locals:{tree_item:@tree_item} %>
<% else %>
<%   if @target %>
<%= turbo_stream.after dom_id(@target), partial:'tree_item', locals:{tree_item:@tree_item} %>
<%   else %>
  <%= turbo_stream.append dom_id(@tree_item.parent) do %>
    <ul>
      <%= render partial:'tree_item', locals:{tree_item:@tree_item} %>
    </ul>
  <% end %>
<%   end
   end %>


<%= turbo_stream.replace "edit" do %>
  <%= turbo_frame_tag "edit" do %>
  <% end %>
<% end %>
