
  <%= error_messages_for form.object %>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label for="product_code" class="label">Product Code:</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow"><%= @sku.product_code ? @sku.product_code.id : "" %></div>
  </div>
</div>
  
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label for="prod_var_id" class="label">Product Group:</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
	<%= select_tag( :prod_var_id,
                options_from_collection_for_select(ProdVariation.all, :id, :name,
                                 @prod_var_id),
                :include_blank => true) %>
      </div>
    </div>
  </div>
</div>
  
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :name, "Item Name:", class:"label" %>
  </div>
  <div class="field-body">
    <div class="field ">
      <div class="control">
	<%= form.text_field :name, class:"input" %>
      </div>
    </div>
  </div>
</div>

