
<tr id="<%= dom_id sku %>">
  <td><%= sku.product_code.id %>
  <td><%= sku.name %>
  <td>
<% sku.product_code.children.each do |child| %>
  <%= child.id %> <%= child.latest_product(true).name %> <br />   
<% end %>    
  <td><%= link_to "Show", {action:"show", id:sku} %>
</tr>
