
<% content_for(:title) { "Edit Attributes" } %>

<p><b>Product:</b> <%= @sku.name %>

<%= form_with(model:@sku.prod_attr_values, url:{action:"update_attrs", id:@sku}) do |form| %>
  
<table class="table">
<% @sku.prod_attr_values.each do |pair| %>
  <tr><th><%= pair.prod_attr.name %>
    <td>
<% case pair.prod_attr.attr_type
   when ProdAttr::TYPE_LENGTH %>
      <%= form.text_field pair.id, value: pair.raw_value %>
<% when ProdAttr::TYPE_COLOUR %>
      <%= form.select  pair.id,
                    options_from_collection_for_select(pair.prod_attr.enum_values, :id, :value , pair.enum_value_id) %>
<% end %>
    </td>      
<% end %>
</table>

  <%= link_to "Cancel", @sku %>
  <%= form.submit "Update (not yet)" %>
<% end %>
