
<% content_for(:title) {"Editing Item"} %>

<%= form_with(model: @sku, url:{action:"update", id:@sku}) do |form| %>
  <%= render partial:"form", locals:{form:form, sku: @sku} %>


  <div>
    <%= link_to "Cancel", {action:"show", id:@sku} %> |
    <%= form.submit %>
  </div>
<% end %>
