
<% content_for(:title) { "Product Structure" } %>


<table id="skus" class="table">
  <tr><th>Prod.Code
    <th>Name
    <th>Child items
  <% @skus.each do |sku| %>
    <%= render partial:"sku", locals:{sku:sku} %>
  <% end %>
</table>

<p><%= link_to "New Item...", new_product_path %>
