
<% content_for(:title) { "New Item" } %>

<%= form_with(model: @sku, url:{action:"create"}) do |form| %>
  <%= render partial:"form", locals:{form:form, sku: @sku} %>

  <div>
    <%= link_to "Cancel", products_path %>
    <%= form.submit %>
  </div>
<% end %>
