
<% content_for(:title) { "Item: " + @sku.name + ", rev #{@sku.revision_no}" }
   @crumbs = [
     [{action:"index"}, "Product Structure"] ]
  %>

<div class="columns">
  <div class="column">
    Revisions:
<% @sku.product_code.revisions.each do |rev| %>
  <%= link_to rev.revision_no, {action:"show", id:rev} %>
<% end %>
  </div>

  <div class="column">
<% if @sku.appro_status < 20 %>
  <%= button_to "Approve", {action:"approval_request", id:@sku}, class:"button", form:{class:"is-inline-block"} %>
<% end %>

  <%= button_to "New Revision!", {action:"new_revision", id:@sku}, class:"button", form:{class:"is-inline-block"} %>
  </div>
</div>


<section class="section">
<h2 class="title is-4" >Basic Information</h2>

<table class="table">
  <tr><th>Product Code: <td><%= @sku.product_code.id %>
  <tr><th>Name: <td><%= @sku.name %>
  <tr><th>Revision: <td><%= @sku.revision_no %>
  <tr><th>Status:
    <td><%= Product::STATUS_STR[@sku.appro_status] %>
  <tr><th>Updated at: <td><%= @sku.updated_at %>	      

  <tr><th>Product Group:
    <td>	    
  <% if (var = @sku.product_code.prod_variation) != nil %>
    <%= link_to var.name, {controller:"product_groups", action:"show", id:var} %>
  <% end %>
</table>              

<div>
  <%= link_to "Edit this Item...", edit_product_path(@sku) %> |
  <%= button_to "Destroy this Item", {action:"destroy", id:@sku}, method: :delete,
                class:"button", form:{class:"is-inline-block", data:{turbo_confirm:"Are you sure?"}}  %>
</div>
</section>


<p>複数梱包と構成品を混同しないように。
<p>セット販売は、ここではなく、販売SKU の画面で設定すること。

<section class="section">
  <div class="columns">
    <div class="column">
<nav class="panel">
  <h3 class="panel-heading">Parent Items</h3>
  <div class="panel-block">
<% @sku.product_code.parent_hierarchies.each do |pa| %>
<%   parent_code = pa.parent
     parent = parent_code.latest_product(true) %>
      <p><%= link_to parent.name, {controller:"products", action:"show", id:parent} %>
        <%= pa.qty %>
	<%= Product::STATUS_STR[parent.appro_status] %>
<% end %>
  </div>
</nav>  
    </div>  <!-- /.column -->


    <div class="column">
<nav class="panel">
  <h3 class="panel-heading">Child Items</h3>
  <div class="panel-block">  
      <div id="child_items">
<% @sku.product_code.child_hierarchies.each do |ch| %>
        <%= render ch %>	
<% end %>
      </div>	
  </div>
  <div class="panel-block">
        <%= button_to "Add...", new_child_product_path(), class:"button" %>
  </div>
</nav>
    </div> <!-- /.column -->
  </div>
</section>



<section class="section">
<h2 class="title is-4">Packages</h2>

<table class="table">
  <tr><th>QPC <th>Case No.  <th>W (cm) <th>D  <th>H  <th>Gross Weight (kg)
<% @sku.packages.order(:qpc).each do |package| %>
  <tr><td><%= package.qpc %>
    <td><%= package.case_no %>
    <td><%= package.size_width %>	  
    <td><%= package.size_depth %>	  
    <td><%= package.size_height %>	  
    <td><%= package.gross_weight  %>
    <td><%= link_to "Edit...", edit_product_package_path(@sku, package) %>
<% end %>					
</table>

<p><%= link_to "New package...", new_product_package_path(@sku)  %>
</section>




<section class="section">
<h2 class="title is-4">Attributes</h2>

<p><%= link_to "Edit Attributes...", {action:"edit_attrs", id:@sku} %>
  
<div id="attributes">
<% @sku.prod_attr_values.each do |attr| %>
  <%= render partial:"attr_value", locals:{attr_value:attr} %>
<% end %>
</div>

<%= form_with(url:{action:"add_attr"}) do |form| %>
  <%= select_tag :prod_attr_id, options_from_collection_for_select(ProdAttr.all, :id, :name) %>
  <%= form.submit "Add", class:"button" %>
<% end %>
  
</section>
