#contents-list
  .content
    - @api_results.map do |result|
      div
        = "内容：#{result.content}  |  作成日時：#{result.created_at} "
        = button_to "Destroy this post", result, method: :delete, data:{confirm:"OK?"}
== pagy_nav @pagy
