doctype html
html
  head
    title
      | SampleWithPagyAndInifiteScroll
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag 
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', defer:true   
  body
    - flash.each do |message_type, message|
      div class="alert alert-#{message_type}"
        = message

    = yield
