<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>LoginSample</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="/bootstrap5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "application", defer: true %>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid" aria-label="Main navigation">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
      </ul>
<% if current_user %>
      <span class="navbar-text"><%= current_user.email %></span>      
<% end %>      
      <ul class="navbar-nav">
<% if current_user %>
<!--
        <li class="nav-item">
          <%= link_to "Edit Profile", edit_account_url, class: 'nav-link' %>
  -->
        <li class="nav-item">
          <%= link_to "Logout", sign_out_account_url,
                      method: :delete, class:'btn btn-sm btn-secondary nav-link' %>
        </li>
<% else %>
        <li class="nav-item">
          <%= link_to "Register", sign_up_account_url, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", sign_in_account_url, class: 'btn btn-sm btn-success nav-link' %>
        </li>
<% end %>
      </ul>
    </div>
  </div>
</nav>

<% # flash[:notice], flash[:alert] は短縮表記もある. See ActionDispatch::Flash
   {notice: "alert alert-success",
    alert: "alert alert-danger"}.each do |key, klass|
     if (message = flash[key]) %>
<%= tag.div(class: klass + " alert-dismissible fade show", role:"alert") do %>
  <%= message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<% end %>
<%   end
   end %>


  <%= yield %>

  <script src="/bootstrap5/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
