<% # Rails5 から form_with. 以前は form_for / form_tag だった.
   # url: オプションを指定 (以前の form_tag), or
   # model: オプションを指定 (以前の form_for).
  %>

<%= form_with(model: article) do |form| %>
  <%= error_messages_for article %>

  <div class="field">
    <%= form.label :title %>  <%= form.text_field :title %>
  </div>
  <div class="field">
    <label for="tags_str">Tags</label> <%= text_field_tag :tags_str, @tags_str %> 空白区切り
  </div>
  <div class="field">
    <%= form.label :body %>   <%= form.text_area :body, cols:30, rows:10 %>
  </div>

  <div class="actions">
<% # new (create) or edit (update) 判定
  %>
    <%= link_to 'キャンセル', article.persisted? ? @article : articles_path %>
    <%= form.submit %>
  </div>
<% end %>
