<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
<% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td><%= link_to 'Show', article %></td>
    </tr>
<% end %>
  </tbody>
</table>

<p><%= link_to 'New Article...', new_article_path %>

<p><%= link_to 'タグ一覧', tags_path %>
  
