<p id="notice"><%= notice %></p>

<p><strong>Title:</strong>
  <%= @article.title %>
</p>

<p><strong>Tags:</strong> <% @tags.each do |tag| %>
  <%= link_to tag.name, tag_path(tag) %>
<% end %>
  
<p><strong>Body:</strong>
  <%= @article.body %>
</p>

<%= link_to 'Edit...', edit_article_path(@article) %> | 
<%= button_to "Destroy", @article, method: :delete, data:{confirm:'OK?'} %>

<p><%= link_to 'Back to articles', articles_path %>
