
<% # Stimulus コントローラを div 要素にアタッチする
  %>   
<div data-controller="tree">
<% # `GET` のときは明示的に `turbo_stream:true` が必要
  %>   
  <%= link_to "新しい root ノード...", "/tree/items/new", data:{turbo_frame:'edit'} %>

  <!-- Tree 側の各要素は turbo streams の replace で更新する -->
  <div id="tree1">
    <ul id="tree_root">
<% @tree.each do |node| %>
      <%= render partial: 'tree_items/tree_item', locals:{tree_item:node} %>
<% end %>
    </ul>    
  </div> <!-- /#tree1 -->
  
  <div data-tree-target="hogeTree1" data-action="load@window->tree#printTree"></div>
</div>

<% # 入替えさせるターゲットを `turbo_frame_tag` で囲む
  %>
<%= turbo_frame_tag "edit" do %>
  <div>
  </div>
<% end %>


<div id="example-table">
</div>

<script type="text/javascript" >
//define data
var tabledata = [
    {id:1, name:"Billy Bob", age:"12", "_children":[
        {id:2, name:"Mary May", age:"1"}, //child rows nested under billy bob
        {id:3, name:"Christine Lobowski", age:"42"},
        {id:4, name:"Brendon Philips", age:"125", "_children":[
            {id:5, name:"Margret Marmajuke", age:"16"}, //child rows nested under brendon philps
            {id:6, name:"Frank Peoney", age:"12"},
        ]},
    ]},
    {id:7, name:"Jenny Jane", age:"1"},
    {id:8, name:"Martha Tiddly", age:"42", "_children":[
        {id:9, name:"Frasier Franks", age:"125"}, //child row nested under martha tiddly
    ]},
    {id:10, name:"Bobby Green", age:"11"},
]

//define table
var table = new Tabulator("#example-table", {
    pagination:true, //enable.
    paginationSize:5, // this option can take any positive integer value
      
    data:tabledata,
    autoColumns:true,
    dataTree:true
});  
</script>
