
<% content_for(:title) { "Sign Up" } %>

<%= form_with url: rodauth.create_account_path, method: :post, data: { turbo: false } do |form| %>

<% # `require_login_confirmation?` で、メールアドレスの２回入力できるが、
   # 入力1回で, 到達確認するほうがいい
  %>

  <div class="row mb-3">
    <%= form.label :fullname, "Full Name:", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :fullname, class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <%= form.label :login, "Email:", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.email_field rodauth.login_param,
                    value: params[rodauth.login_param], id: "login",
                    autocomplete: "email", required: true,
                    class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.login_param)}",
                    aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.login_param),
                      class: "invalid-feedback", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
    </div>
  </div>


  <% if rodauth.create_account_set_password? %>
  <div class="row mb-3">
    <%= form.label "password", rodauth.password_label,
                   class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.password_field rodauth.password_param, value: "", id: "password",
                    autocomplete: rodauth.password_field_autocomplete_value,
                    required: true,
                    class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}",
                    aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.password_param),
                      class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
    </div>
  </div>
  
    <% if rodauth.require_password_confirmation? %>
  <div class="row mb-3">
    <%= form.label "password-confirm", rodauth.password_confirm_label,
                   class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.password_field rodauth.password_confirm_param, value: "",
                    id: "password-confirm",
                    autocomplete: "new-password", required: true,
                    class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_confirm_param)}",
                    aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param),
                      class: "invalid-feedback", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
    </div>
  </div>
    <% end %>
  <% end %>

  <div class="form-group mb-3">
    <%= form.submit rodauth.create_account_button, class: "btn btn-primary" %>
  </div>
<% end %>
