

<%= content_for(:head) do %>
  <script type="text/javascript" src="/lib/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="/lib/jquery-ui.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>

  <script type="text/javascript" src="/lib/pivottable/pivot.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/lib/pivottable/pivot.min.css" />
  <script type="text/javascript" src="/lib/multifact-pivottable.js"></script>
<% end %>
	
 <script>
var aggMap = {
    'agg1': {
            aggType: 'Count',
            arguments: ['English Marks'],
            name: 'Count of English Marks',
            varName :'a',
            renderEnhancement : 'barchart'
        },

    'agg2': {
            aggType: 'Average',
            arguments: ['History Marks'],
            name: 'Avg(History)',
            varName :'b',
            hidden : false,
            renderEnhancement : 'none'
        },
    'agg3': {
            aggType: 'Sum',
            arguments: ['Maths Marks'],
            name: 'Sum(Maths)',
            varName :'c',
            hidden : false,
            renderEnhancement : 'heatmap'
        }
};
    
var customAggs = {};
customAggs['Multifact Aggregators'] = $.pivotUtilities.multifactAggregatorGenerator(aggMap,[]);

var config = {
        "cols": ["Gender" ],
        "rows": ["Department"],
        "vals": [],
        "rowOrder": "key_a_to_z",
        "colOrder": "key_a_to_z",
        "aggregatorName": "Multifact Aggregators",
        "rendererName": "GT Table Heatmap and Barchart",
        "rendererOptions" : {

            aggregations : {
                defaultAggregations : aggMap,
                
            }
        }
};

Papa.parse('data/medium-data.csv', {
        download: true,
        skipEmptyLines: true,
        complete: function (parsed) {

            renderPivot(parsed.data);
        }
});


$.pivotUtilities.customAggs = customAggs;

config.aggregators = $.extend($.pivotUtilities.aggregators, $.pivotUtilities.customAggs);

config.renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.gtRenderers);

var renderPivot = function (data) {
        $("#output").pivotUI(
            data,
            config
        );
    }
</script>


<h1>Multiple Aggregations</h1>
                
                <div id="output" style="margin: 30px;"></div>
                
                
                <p>
                    <small>Made with <span class="fa fa-heart" style="color:red"></span> by <a href="http://pranjalgoswami.in">pranjalgoswami</a></small>
                </p>
	
