
<% # @param room 部屋
   # @param post 入力する投稿
  %>

<script type="text/javascript">
// textarea の高さを直す.
function resizeTextArea(textArea) {
    //textArea.style.height = ch + 'px';
    textArea.style.height = "auto";
    const sh = textArea.scrollHeight; // あふれた部分を含めた要素の内容の寸法
    textArea.style.height = sh + 'px';
}
</script>

<turbo-frame id="message_input">
<%= form_for post,
             url:"/rooms/#{room.id}/message", method: :post do |f| %>
  <%= error_messages_for post %>

  <%= f.text_area :message, class:"form-control", oninput:"resizeTextArea(this)" %>
  <%= f.submit 'Send', class:'btn btn-primary' %>
<% end %>
</turbo-frame>
