
<h1>Rooms</h1>

<div id="rooms">
<% @rooms.each do |room| %>
  <div>
    #<%= room.name %>  <%= link_to "Enter this room", room %>
  </div>
<% end %>
</div>


<% # 部分フォームの例.
   # エラー時に、画面全部ではなく、この部分だけ更新.
  %>
<%= render 'rooms/enter', room:@room %>



<% # Rails7: method: :get を付けてはならない
  %>   
<p><%= link_to "New room...", "/rooms/new" %>
