
<%= link_to "Rooms", '/rooms/' %>
<h1>#<%= @room.name %></h1>

<p><%= Time.now %>  <b>Room key:</b> <%= @room.identifier %>

<% # これ、view に書くので紛らわしいが、stream を識別する文字列またはオブジェク
   # ト.
  %>
<%= turbo_stream_from 'hogehoge_stream' %>

<div id="message_list">
<% @posts.each do |post| %>
  <%= render post %>
<% end %>  
</div>


<%= render 'message_input', post:@post, room:@room %>


<div>
  <%= link_to "Edit this room...", edit_room_path(@room) %> |

  <%= button_to "Destroy this room", @room,
                method: :delete, data: {turbo_confirm: 'OK?'} %>
</div>
