<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>PwaChat</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <!-- 結局, Bootstrap が responsive で簡単. -->
  <link href="/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />

<% # アセットパイプラインを使う場合, javascript_include_tag()
   #    bin/rails assets:precompile が必要 
   # importmap の場合, `javascript_importmap_tags()`
  %>
  <%= javascript_include_tag "application",
                             "data-turbo-track": "reload", defer: true %>
  <link rel="manifest" href="/manifest.json" />
  <meta name="theme-color" content="#317EFB" />
  
<% # モダンブラウザ (Safari以外) 用 SVG favicon と互換アイコン.
   # ICOファイルは複数サイズ格納だが, sizes をあえて指定することで, SVGを優先さ
   # せる. (PC版 Chrome)
  %>   
  <link rel="icon" sizes="32x32" href="/favicon.ico" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<% # iOS ホームスクリーン用. Root (/) に置くこと.
  %>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

<% # iOS 全画面表示 (アドレスバー非表示)
  %> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
  <script src="/bootstrap5/js/bootstrap.bundle.min.js" ></script>

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">HelloApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
<% if current_user %>        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/rooms/">Rooms</a>
        </li>
        <% end %>
      </ul>

<% if current_user %>      
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name %>
        </a>
        <ul class="dropdown-menu dropdown-menu-md-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/account">アカウント管理</a>
          <li><hr class="dropdown-divider" /></li>
          <li><%= link_to 'Log out', '/account/sign_out',
                          class:"dropdown-item", data:{turbo_method: :delete} %>
        </ul>
      </div>
<% else %>
      <div class="col-md-4 text-end">
        <a class="btn btn-outline-primary me-2" href="/account/sign_in">Log in</a>
        <a class="btn btn-primary" href="/account/sign_up">Sign up</a>
      </div>
<% end %>
    </div>
  </div>
</nav>

<% # flash[:notice], flash[:alert] は短縮表記もある. See `ActionDispatch::Flash`
   {notice: "alert alert-success",
    alert:  "alert alert-danger"}.each do |key, klass|
     if (message = flash[key]) %>
  <%= tag.div(class: klass + " alert-dismissible fade show", role:"alert") do %>
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<% end %>
<%   end
   end %>


  <%= yield %>

</body>
</html>
