
  <%= error_messages_for form.object %>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :title, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field ">
      <div class="control">
	<%= form.text_field :title, class:"input", required:true %>
      </div>
    </div>
  </div>
</div>
