
<% content_for :title, "Editing sales page" %>

<%= form_with(model: @sales_page) do |form| %>
  <%= render partial:"form", locals:{form:form, sales_page: @sales_page} %>


<div>
  <%= link_to "Cancel", @sales_page %> 
  <%= form.submit %>
</div>
<% end %>

