
<% content_for :title, "Sales pages" %>


<table id="sales_pages" class="table" >
  <tr><th>Title
  <% @sales_pages.each do |sales_page| %>
    <%= render sales_page %>
  <% end %>
</table>

<p><%= link_to "New sales page...", new_sales_page_path %>
