
<% content_for :title, "New sales page" %>

<%= form_with(model: @sales_page) do |form| %>
  <%= render partial:"form", locals:{form:form, sales_page: @sales_page} %>


<div>
  <%= link_to "Cancel", sales_pages_path %>
  <%= form.submit %>
</div>
<% end %>
