
<% content_for :title, @sales_page.title %>
<% @crumbs = [
     [{action:"index"}, "Sales Pages"] ] %>


<table class="table">
  <tr><th>Title: <td><%= @sales_page.title %>
</table>

<div>
  <%= link_to "Edit...", edit_sales_page_path(@sales_page) %> |
  <%= button_to "Destroy this sales page", @sales_page, method: :delete, class:"button",
                form:{data:{turbo_confirm:"Are you sure?"}}%>
</div>

<section class="section">
  <h2 class="title is-4">Variant Traits</h2>

<table class="table">
  <tr><th>Text    <th>Attribute
<% @sales_page.variant_traits.each do |prod_trait| %>
  <tr><td><%= prod_trait.name %>  <td><%= prod_trait.prod_attr.name %>
<% end %>
</table>
</section> 


<section class="section">
  <h2 class="title is-4">Sales SKUs</h2>
  
<% if @sales_page.variant_traits.size > 0 %>

<%   # product_code => [traits]
     products = {}  
     traits = @sales_page.variant_traits
     traits.each do |prod_trait|
       prod_trait.variant_values.each do |sku_variant|
         products[sku_variant.sales_sku.id] ||= []
       end
     end

     products.each do |sales_sku_id, var_values|
       SkuVariantValue.joins("JOIN sales_variant_traits ON sku_variant_values.prod_trait_id = sales_variant_traits.id")
                      .where('sales_sku_id = ? AND sales_page_id = ?', sales_sku_id, @sales_page.id).each do |vv|
         var_values[traits.find_index {|x| x.id == vv.prod_trait_id}] = vv #.attr_value
       end
     end %>

<table class="table">
  <tr><th>品目
<%   traits.each do |prod_trait| %>
    <th><%= prod_trait.name %>
<%   end %>      
<%   products.each do |sales_sku_id, var_values| %>
<%     sales_sku = SalesSku.find(sales_sku_id) %>
  <tr>
    <td>
      <%= link_to sales_sku.name, {controller:"sales_skus", action:"show", id:sales_sku} %>
<%     var_values.each do |var_value| %>
    <td><%= var_value ? var_value.value : "" %>
<%     end %>
<%   end %>
</table>

<% else # no variant
  %>

<% @sales_page.sales_skus.each do |sales_sku| %>
      <p><%= link_to sales_sku.name, {controller:"sales_skus", action:"show", id:sales_sku} %>
<% end %>

<% end %>
</section>
