
<ul>
  <li>サーバ → フロントエンド: JSON で行の配列を提供.
  <li>ユーザによる編集が終わったら `cellEdited` イベントが発火
</ul>

<div data-controller="grid-table">

  <button data-action="click->grid-table#do_submit">Save</button>

  <script id="tbl-columns" type="application/json">
    [
        {"title":"Name", "field":"name", "width":150, "editor":false},
        {"title":"2024-11", "field":"2024_11", "editor":true},
        {"title":"2024-12", "field":"2024_12", "editor":true},
        {"title":"2025-01", "field":"2025_01", "editor":true}
    ]    
  </script>
  
  <script id="tbl-json-data" type="application/json">
    [
        {"name": "Hoge", "2024_11": 1, "2024_12": 34, "2025_01": 33},
        {"name": "Fuga", "2024_11": 10, "2024_12": 40, "2025_01": 50},
        {"name": "Foo", "2024_11": 20, "2024_12": 30, "2025_01": 40},
        {"name": "Total = Hoge+Fuga", "formula":"Hoge,Fuga", "2024_11": 12, "2024_12": -20,
         "2025_01": 330}
    ]
  </script>
  
  <div id="grid-tabulator-tbl"></div>

</div>
