
  <% if attribute.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attribute.errors.count, "error") %> prohibited this attribute from being saved:</h2>

      <ul>
        <% attribute.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :name, "Name:", class: "label" %>
  </div>
  <div class="field-body">
    <div class="field ">
      <div class="control">
	<%= form.text_field :name, class:"input" %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :attr_type, "Type:", class: "label" %>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
	<%= form.select :attr_type, options_for_select([
	                                ["length (cm)", ProdAttr::TYPE_LENGTH],
                                        ["weight (kg)", ProdAttr::TYPE_WEIGHT],
	                                ["colour", ProdAttr::TYPE_COLOUR]]) %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :description, "Description:", class: "label" %>
  </div>
  <div class="field-body">
    <div class="field ">
      <div class="control">
	<%= form.text_area :description, class:"textarea" %>
      </div>
    </div>
  </div>
</div>

