
<h1>Editing attribute</h1>

<%= form_with(model: @attribute) do |form| %>
  <%= render partial:"form", locals:{form:form, attribute: @attribute} %>


<div>
  <%= link_to "Show this attribute", @attribute %> |
  <%= link_to "Back to attributes", attributes_path %>
</div>
<% end %>
