
<% content_for(:title) { "Attributes" } %>

<table id="attributes" class="table">
  <tr><th>Name  <th>Type
    <th>Description
  <% @attributes.each do |attribute| %>
    <%= render attribute %>
  <% end %>
</table>

<p><%= link_to "New attribute...", {action:"new"} %>
