
<% content_for(:title) { "New Attribute" } %>


<%= form_with(model: @attribute) do |form| %>
  <%= render partial:"form", locals:{form:form, attribute: @attribute} %>

<div>
  <%= link_to "Cancel", {action:"index"} %>
  <%= form.submit %>
</div>
<% end %>
