
<% content_for(:title) { "Attribute: " + @attribute.name }
   @crumbs = [
     [{action:"index"}, "Attributes"] ] %>

<table class="table">
  <tr><th>Name: <td><%= @attribute.name %>
  <tr><th>Attr Type: <td><%= @attribute.attr_type %>	
  <tr><th>Description: <td><%= @attribute.description %>
</table>

<div>
  <%= link_to "Edit this attribute...", {action:"edit", id:@attribute} %> |

  <%= button_to "Destroy this attribute", {action:"destroy", id:@attribute},
                method: :delete, class:"button", form:{class:"is-inline-block", data:{turbo_confirm:"Are you sure?"}} %>
</div>

<section class="section">
<h2 class="title is-4">Enum Values</h2>

<div class="columns">
  <div class="column">Value</div>
  <div class="column">Aux Value 1</div>
  <div class="column">
    <%= button_to "New...", new_enum_prod_attr_path(@attribute), class:"button" %>
  </div>
</div>
<div id="enum_values">
  <% @enum_values.each do |enum_value| %>
    <%= render enum_value %>
  <% end %>
</div>

</section>
