
<h1>Account#sign_in</h1>

<% if current_user %>
  <h2>別のユーザでログインする</h2>
<% end %>

<%= form_with model:@user, url:sign_in_account_url, method: :post do |form| %>
  <%= error_messages_for @user %>

  <div class="row mb-3">
    <label for="user_email" class="col-sm-2 col-form-label">Email address:</label>
    <div class="col-sm-10">
      <%= form.text_field :email, type:"email", class:"form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <label for="user_password" class="col-sm-2 col-form-label">Password:</label>
    <div class="col-sm-10">
      <%= form.password_field :password, class:"form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <label class="form-check-label">
          <%= check_box_tag :remember, "1", @remember, class:'form-check-input' %>
          ログインを記憶する。共有PCではチェックしないでください。
        </label>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Sign in</button>
</form>


<% end %>
