<!DOCTYPE html>
<html>
<head>
  <title>HelloApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "application",
                             "data-turbo-track": "reload", type: "module" %>
</head>
<body>
    <%= yield %>
  </body>
</html>
