
<% # param cart_line
  %>

  <tr id="<%= dom_id(cart_line) %>" >
    <td><%= cart_line.product.name %>
    <td><%= cart_line.cart_price_with_vat %>
    <td><%= cart_line.qty %>
    <td>
      <%= select_tag :change_qty,
                  options_for_select((1..5).map do |c| ["#{c}個", c] end) %>
      <%= button_to "削除", "/cart/remove_item/#{cart_line.id}",
                    method: :post %>
      <%= button_to "あとで買う", "/cart/set_buy_later/#{cart_line.id}",
                    method: :post %>
  </tr>
  
