
<% # param cart_line
  %>

  <tr id="<%= dom_id(cart_line) %>" >
    <td><%= cart_line.product.name %>
    <td><%= cart_line.cart_price_with_vat %>
    <td><%= cart_line.qty %>
    <td>
      <%= button_to "カートに戻す", "/cart/move_to_cart/#{cart_line.id}",
                    method: :post %>
      <%= button_to "削除", "/cart/remove_item/#{cart_line.id}",
                    method: :post %>
  </tr>
  
