
<turbo-stream action="remove" target="<%= dom_id(@cart_line) %>" >
</turbo-stream>

<turbo-stream action="prepend" target="in_cart_list" >
  <template>
<%= render partial:'item_in_cart', locals:{cart_line:@cart_line} %>
  </template>
</turbo-stream>


