
<turbo-stream action="replace" target="<%= dom_id(@cart_line) %>" >
  <template>
<tr>
  <td>次の商品を削除しました:
    <%= link_to @product.name, {controller:'items', action:'show', id:@product} %>
</tr>
  </template>
</turbo-stream>

