
<turbo-stream action="remove" target="<%= dom_id(@cart_line) %>" >
</turbo-stream>

<turbo-stream action="prepend" target="buy_later_list" >
  <template>
<%= render partial:'item_in_buy_later', locals:{cart_line:@cart_line} %>
  </template>
</turbo-stream>

