
<div class="row">

  <div class="col">
<h2>ショッピングカート</h2>

<table class="table" id="in_cart_list">
<% @cart_lines.each do |cart_line| %>
  <%= render partial:'item_in_cart', locals:{cart_line:cart_line} %>
<% end %>
</table>


<h2>あとで買う</h2>

<table class="table" id="buy_later_list">
<% @buy_laters.each do |cart_line| %>
  <%= render partial:'item_in_buy_later', locals:{cart_line:cart_line} %>
<% end %>
</table>


  </div> <!-- /.col -->

  <div class="col-3">

    税込み ￥●●●●

    <%= button_to "レジに進む", "/buy/pay_select", method: :get %>
  </div> <!-- /.col-3 -->
  
</div> <!-- /.row -->

