<!DOCTYPE html>
<html>
<head>
  <title>Rails7Fancytree</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link href="https://unpkg.com/tabulator-tables@6.2.5/dist/css/tabulator.min.css" rel="stylesheet" />
  <%= javascript_importmap_tags %>
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.5/dist/js/tabulator.min.js"></script>
</head>
<body>

<% # flash[:notice], flash[:alert] は短縮表記もある. See `ActionDispatch::Flash`
   {notice: "alert alert-success",
    alert:  "alert alert-danger"}.each do |key, klass|
     if (message = flash[key]) %>
  <%= tag.div(class: klass + " alert-dismissible fade show", role:"alert") do %>
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<% end %>
<%   end
   end %>

  
  <%= yield %>

</body>
</html>
