<%= form_with(model: vat_category) do |form| %>
  <% if vat_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vat_category.errors.count, "error") %> prohibited this vat_category from being saved:</h2>

      <ul>
        <% vat_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
