<h1>Editing vat category</h1>

<%= render "form", vat_category: @vat_category %>

<br>

<div>
  <%= link_to "Show this vat category", @vat_category %> |
  <%= link_to "Back to vat categories", vat_categories_path %>
</div>
