<p style="color: green"><%= notice %></p>

<h1>Vat categories</h1>

<div id="vat_categories">
  <% @vat_categories.each do |vat_category| %>
    <%= render vat_category %>
    <p>
      <%= link_to "Show this vat category", vat_category %>
    </p>
  <% end %>
</div>

<%= link_to "New vat category", new_vat_category_path %>
