
<%= link_to "Back to vat categories", vat_categories_path %>

<h1>VATカテゴリ</h1>

<%= render @vat_category %>

<div>
  <%= link_to "Edit this vat category", edit_vat_category_path(@vat_category) %> |

  <%= button_to "Destroy this vat category", @vat_category, method: :delete %>
</div>
