
<div data-controller="posts">

  <script type="application/json" id="json-data">
    [
<%= (@sub_categories.map do |sub_cat| 
       {value:sub_cat.id, label:sub_cat.name, main:sub_cat.main}.to_json 
     end).join(",\n").html_safe %> 
    ]
  </script>
  
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label :title, "タイトル:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">    
      <%= form.text_field :title, class:"form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :body, "Body:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">    
      <%= form.text_area :body, class:"form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <label for="main_cat" class="col-sm-2 col-form-label">メインカテゴリ:</label>
    <div class="col-sm-10">
<% # こちらは `required:true` であっても, 勝手な blank なし
  %>         
      <%= select_tag "main_cat",
                options_from_collection_for_select(@main_cat, :id, :name),
                class: "form-select", required:true,
                data: {posts_target:"mainCatSelect",
                       action: "change->posts#filterSubCatOptions"}  %>
    </div>
  </div>
  
  <div class="row mb-3">
    <%= form.label :category_id, "サブカテゴリ", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
<% # 変化させるほうは、追加フィールドを持たせる
   # `form.select()` は `required:true` を付けると, ブランク行を勝手に追加する
   # さらに `include_blank:false` を指定すると、次のエラー:
   #   include_blank cannot be false for a required field
  %>       
      <%= form.select :category_id,
                {}, #options_for_select(@sub_categories.map {|sub_cat|
                #  [sub_cat.name, sub_cat.id, data:{"mainId":sub_cat.main}]
                #}),
                {}, class:"form-select", 
                data:{posts_target:"subCatSelect"} %>
    </div>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
</div> <!-- /[data-controller="posts"] -->

