

<div class="row mb-3">
  <label for="user_email" class="col-sm-2 col-form-label">Email address:</label>
  <div class="col-sm-10">
    <%= form.text_field :email, class: "form-control", type: "email",
                                       'aria-describedby': "emailHelp" %>
  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <label>名前:
  </div>
  <div class="col">
    <label for="user_family_name">姓:</label>
    <%= form.text_field :family_name, class:"form-control"  %>
  </div>
  <div class="col">
    <label for="user_given_name">名:</label>
    <%= form.text_field :given_name, class:"form-control"  %>
  </div>
</div>

<div class="row mb-3">
<%= fields_for :customer do |cus_form| %>
  <label for="customer_address" class="col-sm-2 col-form-label">住所:</label>
  <div class="col-sm-10">
    <%= cus_form.text_field :address, class:"form-control" %>
  </div>
<% end %>
</div>
