<h1>Editing profile</h1>

<%= form_with model:@user, url:'/account', method: :put do |form| %>
  <%= error_messages_for @user %>

<%= render "form", form:form %>

  <button type="submit" class="btn btn-primary">Update Account</button>
<% end %>
