
<h1>ユーザ情報</h1>

<table class="table table-sm">
  <tr><th>id                    <td><%= @user.id %>
  <tr><th>email                 <td><%= @user.email %>
  <tr><th>family_name           <td><%= @user.family_name %>
  <tr><th>given_name            <td><%= @user.given_name %>

  <tr><th>role_guest            <td><%= @user.role_guest %>
  <tr><th>role_admin            <td><%= @user.role_admin %>
          
  <tr><th>crypted_password      <td><%= @user.crypted_password %>
  <tr><th>salt                  <td><%= @user.salt %>
  <tr><th>remember_me_token     <td><%= @user.remember_me_token %>
  <tr><th>remember_me_token_expires_at   <td><%= @user.remember_me_token_expires_at %>
  <tr><th>reset_password_token  <td><%= @user.reset_password_token %>
  <tr><th>reset_password_token_expires_at <td><%= @user.reset_password_token_expires_at %>
  <tr><th>reset_password_email_sent_at <td><%= @user.reset_password_email_sent_at %>
  <tr><th>access_count_to_reset_password_page <td><%= @user.access_count_to_reset_password_page %>
  <tr><th>last_login_at         <td><%= @user.last_login_at %>
  <tr><th>last_logout_at        <td><%= @user.last_logout_at %>
  <tr><th>last_activity_at      <td><%= @user.last_activity_at %>
  <tr><th>last_login_from_ip_address <td><%= @user.last_login_from_ip_address %>

  <tr><th>created_at            <td><%= @user.created_at %>
  <tr><th>updated_at            <td><%= @user.updated_at %>
</table>


<h2>顧客情報</h2>

<% customer = @user.customer
   if !customer %>
顧客情報はありません。
<% else %>
<table class="table table-sm">
  <tr><th>id            <td><%= customer.id %>
  <tr><th>address       <td><%= customer.address %>
  <tr><th>created_at    <td><%= customer.created_at %>
  <tr><th>updated_at    <td><%= customer.updated_at %>
</table>
<% end %>


<p><%= link_to "[Edit Profile...]", edit_account_url %>

  <%= link_to "[購入履歴]", "/account/order_history/" %>
