
<% # 現代では、認証は, 外部IdP に任せてしまった方がセキュリティの問題を軽減で
   # きて、望ましい。
   # Just-in-Time User Provisioning (Automated User Provisioning ともいう.) で,
   # ユーザ登録もある程度スキップできる。
   #
   # ユーザ登録と sign in 画面を分ける必要がなくなった。
   # 外部 IdP のアイコンを並べるだけで完結する (お勧め) か、アイコンを並べつ
   # つ、やむを得ない用に Register / Sign In タブを用意する。
  %>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
<% if !current_user || current_user.role_guest %>
    <%= tag.button class:"nav-link" + (!@signin_default ? " active" : ""),
                   id:"nav-home-tab", "data-bs-toggle":"tab",
                   "data-bs-target":"#nav-register", type:"button", role:"tab",
                   "aria-controls":"nav-register",
                   "aria-selected": !@signin_default ? "true" : "false" do %>
      Register
    <% end %>
<% end %>
    <%= tag.button class:"nav-link" + (@signin_default ? " active" : ""),
                   id:"nav-signin-tab", "data-bs-toggle":"tab",
                   "data-bs-target":"#nav-signin", type:"button", role:"tab",
                   "aria-controls":"nav-signin",
                   "aria-selected": @signin_default ? "true" : "false" do %>
      Sign In
    <% end %>
  </div>
</nav>



<%= error_messages_for @user %>

<div class="tab-content" id="nav-tabContent">
  <%= tag.div class:"tab-pane fade" + (@signin_default ? " show active" : ""),
              id:"nav-signin", role:"tabpanel",
              "aria-labelledby":"nav-signin-tab" do %>

    <%= form_with model:@user, url:'/account/sign_in', method: :post do |form| %>
<div class="row mb-3">
  <label for="user_email" class="col-sm-2 col-form-label">Email address:</label>
  <div class="col-sm-10">
    <%= form.text_field :email, type:"email", class:"form-control" %>
  </div>
</div>

<div class="row mb-3">
  <label for="user_password" class="col-sm-2 col-form-label">Password:</label>
  <div class="col-sm-10">
    <%= form.password_field :password, class:"form-control" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm-10 offset-sm-2">
    <div class="form-check">
      <%= check_box_tag :remember, "1", @remember, class:"form-check-input" %>
      <label class="form-check-label" for="remember">ログインを記憶する。共有PCではチェックしないでください。
      </label>
    </div>
  </div>
</div>

      <button type="submit" class="btn btn-primary">Sign In</button>
    <% end %>
  <% end %>



<% if !current_user || current_user.role_guest %>
  <%= tag.div class:"tab-pane fade" + (!@signin_default ? " show active" : ""),
              id:"nav-register", role:"tabpanel",
              "aria-labelledby":"nav-home-tab" do %>

    <%= form_with model:@user, url:account_url, method: :post do |form| %>
      <%= render "form", form:form %>

<div class="row mb-3">
  <label for="user_password" class="col-sm-2 col-form-label">Password:</label>
  <div class="col-sm-10">
<% # password_field メソッドでは, 自動で value: が付かない. これを付けるかどう
   # かは慎重に判断が必要。
  %>
    <%= form.password_field :password, class:"form-control", value: @user.password %> 6文字以上
  </div>    
</div>

<div class="row mb-3">
  <label for="user_password_confirmation" class="col-sm-2 col-form-label">Password confirmation:</label>
  <div class="col-sm-10">
    <%= form.password_field :password_confirmation, class: "form-control", value: @user.password_confirmation %>
  </div>    
</div>

      <button type="submit" class="btn btn-primary">Create Account</button>
    <% end %>
  <% end %>
<% end # if !current_user
  %>

</div> <!-- /.tab-content -->

