<h1>Editing prod attr value</h1>

<%= render "form", prod_attr_value: @prod_attr_value %>

<br>

<div>
  <%= link_to "Show this prod attr value", @prod_attr_value %> |
  <%= link_to "Back to prod attr values", prod_attr_values_path %>
</div>
