<p style="color: green"><%= notice %></p>

<h1>Prod attr values</h1>

<div id="prod_attr_values">
  <% @prod_attr_values.each do |prod_attr_value| %>
    <%= render prod_attr_value %>
    <p>
      <%= link_to "Show this prod attr value", prod_attr_value %>
    </p>
  <% end %>
</div>

<%= link_to "New prod attr value", new_prod_attr_value_path %>
