<p style="color: green"><%= notice %></p>

<%= render @prod_attr_value %>

<div>
  <%= link_to "Edit this prod attr value", edit_prod_attr_value_path(@prod_attr_value) %> |
  <%= link_to "Back to prod attr values", prod_attr_values_path %>

  <%= button_to "Destroy this prod attr value", @prod_attr_value, method: :delete %>
</div>
