<%= form_with(model: prod_variant_trait) do |form| %>
  <% if prod_variant_trait.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prod_variant_trait.errors.count, "error") %> prohibited this prod_variant_trait from being saved:</h2>

      <ul>
        <% prod_variant_trait.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
