<h1>Editing prod variant trait</h1>

<%= render "form", prod_variant_trait: @prod_variant_trait %>

<br>

<div>
  <%= link_to "Show this prod variant trait", @prod_variant_trait %> |
  <%= link_to "Back to prod variant traits", prod_variant_traits_path %>
</div>
