<p style="color: green"><%= notice %></p>

<h1>Prod variant traits</h1>

<div id="prod_variant_traits">
  <% @prod_variant_traits.each do |prod_variant_trait| %>
    <%= render prod_variant_trait %>
    <p>
      <%= link_to "Show this prod variant trait", prod_variant_trait %>
    </p>
  <% end %>
</div>

<%= link_to "New prod variant trait", new_prod_variant_trait_path %>
