<p style="color: green"><%= notice %></p>

<%= render @prod_variant_trait %>

<div>
  <%= link_to "Edit this prod variant trait", edit_prod_variant_trait_path(@prod_variant_trait) %> |
  <%= link_to "Back to prod variant traits", prod_variant_traits_path %>

  <%= button_to "Destroy this prod variant trait", @prod_variant_trait, method: :delete %>
</div>
