
<% # @param room   部屋オブジェクト
  %>

<% # `redirect_to` があるため, Turbo Streams で行く。
  %>
<div id="room_enter">
<%= form_for room, url:'/rooms/enter' do |f| %>
  <fieldset class="bg-light">
    <legend>Enter room</legend>

    <%= error_messages_for room %>

    <div class="row mb-3">
      <label for="room_identifier" class="col-sm-2 col-form-label">Room key:</label>
      <div class="col-sm-10">
        <%= f.text_field :identifier, class:"form-control" %>
      </div>
    </div>
    <%= f.submit 'Enter', class:"btn btn-info" %>
  </fieldset>
<% end %>
</div>

