
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row mb-3">
    <label for="room_name" class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-10">
      <%= form.text_field 'name', class:"form-control" %>
    </div>
  </div>  
