<h1>Editing room</h1>

<%= form_with(model: @room) do |form| %>
  <%= render "form", form:form, room: @room %>

  <div>
    <%= link_to "キャンセル", @room, class:"btn btn-secondary" %> 
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>

