
<h1>Rooms</h1>

<div id="rooms">
<% @rooms.each do |room| %>
  <div>
    #<%= room.name %>  <%= link_to "Enter this room", room %>
  </div>
<% end %>
</div>


<% # 部分フォームの例.
   # エラー時に、画面全部ではなく、この部分だけ更新.
  %>
<%= render 'rooms/enter', room:@room %>



<% # Rails7: method: :get を付けてはならない
  %>   
<p><%= link_to "New room...", "/rooms/new" %>

<% # PWAのインストールを促進するには, 画面に案内を表示する。
   # See PWAのインストールを促進するためのパターン
   #     https://web.dev/promote-install/
  %>  
<div id="pwainstall" class="card" style="width:18rem; display:none">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">PWAをインストールしよう</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button class="btn btn-primary" onclick="installBtnOnClick()">Go somewhere</button>
  </div>
</div>
  
<script>
async function installBtnOnClick() {
    let deferredPrompt = window.swi.getPrompt();
    if (!deferredPrompt)
        return false;

    // Hide the app provided install promotion
    //hideInstallPromotion();
    let div = document.getElementById('pwainstall');
    if (div) {
        div.style.display = 'none';
    }

    // Show the install prompt. 1回のイベントにつき1回だけ呼び出せる.
    deferredPrompt.prompt();
    // Wait for the user to respond to the prompt
    const { outcome } = await deferredPrompt.userChoice;
    // Optionally, send analytics event with outcome of user choice
    console.log(`User response to the install prompt: ${outcome}`);

    // We've used the prompt, and can't use it again, throw it away
    window.swi.clearPrompt();
}
</script>

