
<% @products.each do |product| %>
<div class="card">
  <img src="item-img-..." class="card-img-top" alt="..." /> ●●画像をここに表示
  <div class="card-body">
    <%= link_to product.name, {controller:'items', action:'show', id:product} %>
    <p class="card-text">￥<%= product.price_with_vat %>
  </div>
</div>
<% end %>

